@model EventPlanner.Models.Event

@{
    ViewData["Title"] = "Share";
}

<h1>Share</h1>

<div class="detailscons">
    <h4>Event (Copy and Share)</h4>
    <p>Send To A Friend</p>


    <hr />

    <div class="container5">
    <dl class="row">
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrption)
        </dd>
        

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a class="emailBtn" href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">Email Someone</a>

</div>

<style>

        .container5 {
            background-color: #fff;
        }
    body {
        background-color: #37474F;
    }

     tr, td, table, li, nav, ul,  span, .form-group, label, input {
        color: black;
    }


        .detailscons a {
            padding-top: 15px;
            text-decoration: none;
            border: 1px solid;
            border-radius: 20px;
            padding: 10px;
            color: white;
        }

            .detailscons a:hover {
                color: #00BCD4;
            }
        

        .emailBtn{
            padding: 10px;
            text-size: 20px;
            border: 10px;
            background-color: #00BCD4;
            color: #fff;
            text-decoration: none;
        }

        .emailBtn:hover {
            color: #fff;
                background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%)
        }
        
        

</style>