@{
    ViewData["Title"] = "Timeless Events";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>You Mark It, We Save It</p>
</div>
<div>
    <p>We have created this site to help users build and plan there events</p>
    <p>The data this site will manage UserId, Emails, Events Created, Descriptions and much more.</p>
</div>

<style>
    h1 {
        color: blue;
    }
</style>