@{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">
    ViewData["Title"] = "Timeless Events";
}
<div class="mainWrapper">

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=Raleway&pause=1000&color=FFA000&center=true&width=435&lines=You+Mark+It%2C+We+Save+It" alt="Typing SVG" /></a>

</div>

<div class="mainBodyText">
    <p>We have created this site to help users build and plan there events</p>
    <p>The data this site will manage UserId, Emails, Events Created, Descriptions and much more.</p>
    <p>Click here to view the events, or To create one yourself</p>
</div>
<div class="text-center">
    <a class="btn btn-primary" asp-area="" asp-controller="Events" asp-action="Index">Event List</a>
</div>
</div>

    
<style>
    h1 {
        font-family: 'Roboto Slab', serif;
        text-align: center;
        color: #00BCD4;
    }


    .mainBodyText p{
        text-align: center;
            color: #212121
    }
    body {
        height: 100%;
        background-image: url('/images/HomePhotoMain.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .footer {
        border-top: 1px solid #00BCD4;
       color: white;
    }
    
</style>