@{
    ViewData["Title"] = "Timeless Events";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>You Mark It, We Save It</p>
</div>
<div>
    <p>We have</p>
</div>

<style>
    h1 {
        color: blue;
    }
</style>