@{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">

    ViewData["Title"] = "Timeless Events";
}
<div class="mainWrapper">

<div class="text-center">
        <h1 class="display-4">Timeless Events</h1>
       <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com?font=Raleway&size=30&duration=4500&pause=1500&color=FFA000&center=true&width=435&lines=You+Mark+It%2C+We+Save+It" alt="Typing SVG" /></a>

</div>

<div class="mainBodyText">
    <p>We have created this site to help users build and plan their events</p>
    <p>The data this site will manage UserId, Emails, Events Created, Descriptions and much more.</p>
    <p>Click here to view the events, or To create one yourself</p>
       
</div>
<div class="text-center">
    <a class="mainPgbtn" asp-area="" asp-controller="Events" asp-action="Index">Event List</a>
</div>
</div>

    
<style>

   
    .text-center h1 {
        font-family: 'Roboto Slab', serif;
        font-size: 70px;
        text-align: center;
        color: #00BCD4;
        text-shadow: 2px 2px 4px #000000;
    }

    

    .mainBodyText p{
        font-family: 'Raleway', sans-serif;
        padding-top: 2px;
        font-size: 18px;
        text-align: center;
            color: #000;
        text-shadow: 1px 1px 1px #00BCD4;
    }

    body {
        height: 100%;
        background-image: url('/images/take22.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    

    .mainPgbtn{
        color: white;
        background-color: #00BCD4;
        border: none;
        font-size: 30px;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;

    }

    .mainPgbtn:hover {
        text-decoration: none;
        color: white;
        background-color: ;
        transition: 300ms;
        font-size: 40px;
         
        animation: ease-in-out;

    }
    .mainPgbtn:active, .mainPgbtn::after {
            background-color: #FFA000;
    }

    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        text-align: center;
        line-height: 17px;
        opacity: 0.7;
        background-color: #fff
        
    }

        .footer p, small, .container {
            color: black;
        }

        
    
</style>